@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Subtitle"]</h3>
<hr />
<div class="container card">
    <div class="card-body">
        <center>
            <h2>EasyStock by beaverNet</h2><img src="~/img/beaverNet-circle.png" width="100">

            <h3>para</h3><img src="~/img/okunoba_logo.png" width="100">

            <p>Procesadora y Distribuidora de Productos del Mar.</p>
            <address>
                Blancarte No. 737 <br />
                22800 Ensenada <br />
                <abbr title="Phone">P:</abbr>
                +52 (646) 175 7310
            </address>

            <address>
                <a href="https://www.instagram.com/grupookunoba">Instagram</a>  <br />
                <a href="https://twitter.com/grupookunoba"> Twitter</a> <br />
            </address>
        </center>
    </div>
</div>