@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h1>@ViewData["Title"]</h1>
    <h3>@ViewData["Subtitle"]</h3>
<hr/>
<p>
    Es una aplicación Web para la administración y manejo de inventario físico de productos en tu
    negocio. Construida con tecnología de Microsoft .NET Framework, cumple con los más estrictos
    estándares de seguridad en la información y en la industria del software.
</p>
<p>
    Su interfaz limpia e intuitiva se adapta elegantemente a cualquier dispositivo, ya sea una
    computadora de escritorio, una laptop, un teléfono móvil o una tablet.
</p>
<h4>Funcionalidad</h4>
<p>
    Las funciones generales de EasyStock son:
</p>
<p>
    <ul>
        <li>
            Administrar la recepcion y venta de productos y servicios.
        <li>
            Relacionar procesos de entrada y salida para obtener un balance en tiempo real
            de la existencia cuantificable de productos.
        </li>
        <li>
            Analizar el flujo de mercancia para determinar un panorama estadistico de la
            salud general de sudel negocio.
        </li>
    </ul>
</p>

<h4>Usuarios</h4>

<p>
    Los roles involucrados en el proceso que sigue al producto dentro del negocio son
    categorizados de la siguiente forma:
</p>
<h6>Usuario Propietario</h6>
<p>
    Posee todos los privilegios de la aplicaci&oacute;n.
</p>
<h6>Usuario Administrador</h6>
<p>
    Posee todos los privilegios de acceso y modificacion de los productctos, clientes,
    y provedores, asi como la captura de recepción y venta de mercancia. Es el único usuario con acceso al analisis estadistico y métricas de la empresa, así como la creación de cuentas de usuarios.
</p>
<h6>Usuario Recepcionista</h6>
<p>
    Está diseñado para registrar el ingreso de mercancia a su negocio. Posee privilegios
    para agregar y modificar productos, categorias, clientes y provedores, además de crear las entradas de productos al catalogo de existencias. Este usuario puede registrar también las perdidas por causas intrincecas al manejo de los productos dentro de la empresa (perdidas por mortandad, entre otros) antes de su comercialización
</p>
<h6>Usuario Vendedor </h6>
<p>
    Los permisos de este usuario se restringen a la salida de producto del negocio, ya sea
    por venta o concesión. Este usuario sólo puede añadir y modificar clientes a la base de datos.
</p>

@*<h4>Vistas de la aplicacion</h4>

    <h6>Añadir categorías</h6>
    <p>
        Antes de agregar productos al catalogo del negocio, se deben asignar las categorías para una mejor clasificación del inventario. La creación de categoriases personalizada, escribiendo sólo el nombre de la categoría y la descripción (opcional).
    </p>

    <h6>Añadir</h6>
    <p>
        Para agregar un producto o empresa se requiere escribir el nombre y asignarle una categoría previamente definida. Las diferentes medidas de la talla de un producto son opcionales. Una vez asignado el nombre y la categoría, pulse "guardar" para añadir el producto a la base de datos. Los productos almacenados en la base de datos se muestran en una lista en la parte inferior de la Vista de Productos. Para remover un producto de la base de datos presione el boton "Borrar" correspondiente al producto no deseado.
    </p>

    <h6>Añadir cliente y provedor</h6>
    <p>

    </p>

    <h6>Añadir provedor </h6>
    <p>

    </p>


    <h6>Recepción de producto</h6>
    <p>

    </p>

    <h6>Mortandad</h6>
    <p>

    </p>

    <h6>Entrega de producto</h6>
    <p>

    </p>

    <h6>Balance</h6>
    <p>

    </p>*@

